.home-img {
    background-image: url("/DiamondDogsProject/public/assets/img/home.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo {
    width: 25%;
    height: auto;
}

.navbar-color {
    background-color: rgba(0,0,0,0.6);
}

.btn-col {
    padding-left: 17%
}

.btn-login {
    padding: 7% 12%;
    background-color:#0080ff; 
    border:none; 
    color:#ffffff;
    font-size: large;
}

.btn-logout {
    border:none; 
    white-space: nowrap;
    color:#ffffff;
    display: inline-block;
    font-size: large;
}